@charset "iso-8859-2";
/* CSS Document */

@font-face {
	font-family: 'verlag_bold';
	src: url('fonts/verlag_bold/verlag_bold.woff2') format('woff2'),
		 url('fonts/verlag_bold/verlag_bold.eot') format('eot'),
		 url('fonts/verlag_bold/verlag_bold.ttf') format('ttf'),
		 url('fonts/verlag_bold/verlag_bold.svg') format('svg'),
         url('fonts/verlag_bold/verlag_bold.woff') format('woff');
    font-family: 'verlag_book';
	src: url('fonts/verlag_book/verlag_book.woff2') format('woff2'),
		 url('fonts/verlag_book/verlag_book.eot') format('eot'),
		 url('fonts/verlag_book/verlag_book.ttf') format('ttf'),
		 url('fonts/verlag_book/verlag_book.svg') format('svg'),
         url('fonts/verlag_book/verlag_book.woff') format('woff');
    font-family: 'verlag_black';
	src: url('fonts/verlag_black/verlag_black.woff2') format('woff2'),
		 url('fonts/verlag_black/verlag_black.eot') format('eot'),
		 url('fonts/verlag_black/verlag_black.ttf') format('ttf'),
		 url('fonts/verlag_black/verlag_black.svg') format('svg'),
         url('fonts/verlag_black/verlag_black.woff') format('woff');
	}

body {
	font-family: 'verlag_bold', Fallback, sans-serif;
	max-width: 100%;
	background: #fff;
	text-decoration: none;
	overflow: hidden;
	}
#about_body {
	font-family: 'verlag_bold', Fallback, sans-serif;
	max-width: 100%;
	background: #fff;
	text-decoration: none;
	overflow: scroll;
	}
/* =================================================================================
								TYPE SETTINGS (START)
================================================================================= */
h1 {
	font-family: 'verlag_bold', Fallback, sans-serif;
	text-align: left;
	font-size: 27.75px;
	letter-spacing: 3px;
	color: #ccc5bf;
	font-weight: normal;
	text-decoration: none;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 29px;
	padding-left: 25%;
	}
h2 {
	font-family: 'verlag_bold', Fallback, sans-serif;
	text-align: left;
	font-size: 27.75px;
	letter-spacing: 3px;
	color: #ccc5bf;
	font-weight: normal;
	text-decoration: none;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 29px;
	padding-left: 25%;
	}
h3 {
	font-family: 'verlag_black', Fallback, sans-serif;
	position: absolute;
	top: 35%;
	left: 4.3%;
	width: 95.7%;
	text-align: left;
	font-size: 16px;
	letter-spacing: 3.5px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	}
h4 {
	font-family: 'verlag_black', Fallback, sans-serif;
	position: absolute;
	top: 40%;
	left: 4%;
	width: 95.7%;
	text-align: left;
	font-size: 60px;
	letter-spacing: 12px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	}
h5 {
	font-family: 'verlag_black', Fallback, sans-serif;
	position: absolute;
	top: 57%;
	left: 4.3%;
	width: 95.7%;
	text-align: left;
	font-size: 18.5px;
	letter-spacing: 3.3px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	}
h6 {
	font-family: 'verlag_black', Fallback, sans-serif;
	text-align: left;
	font-size: 30px;
	letter-spacing: 3.3px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	}
#h4_2 {
	font-family: 'verlag_black', Fallback, sans-serif;
	position: absolute;
	top: 40%;
	left: 8%;
	width: 92%;
	text-align: left;
	font-size: 60px;
	letter-spacing: 12px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	}
#h6_2 {
	font-family: 'verlag_black', Fallback, sans-serif;
	position: absolute;
	top: 42%;
	left: 18%;
	width: 92%;
	text-align: left;
	font-size: 27px;
	letter-spacing: 3.3px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	}
#about {
	font-family: 'verlag_book', Fallback, sans-serif;
	text-align: left;
	color: #ccc5bf;
	font-size: 15px;
	padding-top: 30px;
	padding-right: 25%;
	padding-bottom: 0px;
	padding-left: 25%;
	line-height: 140%;
	letter-spacing: 1px;
	font-weight: lighter;
	}
#contact {
	font-family: 'verlag_book', Fallback, sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	color: #ccc5bf;
	text-align: left;
	padding-top: 30px;
	padding-right: 25%;
	padding-bottom: 0px;
	padding-left: 25%;
	line-height: 140%;	
	font-weight: lighter;
	}
/* =================================================================================
								TYPE SETTINGS (END)
================================================================================= */
img {
	text-align: left;
	max-width: 100%;
	height: auto;
	width: auto;
	}
header {
	text-align: center;
	width: 100%;
	height: auto;
	background: #ccc5bf;
	}
/* =================================================================================
									NAVIGATION (START)
================================================================================= */
nav {
	width: 100%;
	background: #fff;
    }
nav ul {
    list-style-type: none;
    width: 100%;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
	}
nav ul li {
	float: left;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 26px;
	padding-left: 4%;
	text-decoration: none;
	}
nav ul li.mr_X {
	float: right;
	padding-top: 17px;
	padding-right: 2.5%;
	padding-bottom: 18px;
	padding-left: 0px;
	text-decoration: none;
	}
nav ul li a {
	font-family: 'verlag_bold', Fallback, sans-serif;
	display: block;
	color: #ccc5bf;
	text-align: center;
	text-decoration: none;	
	letter-spacing: 6px;
	font-size: 14.5px;
	}
nav ul li.active a {
	font-family: 'verlag_bold', Fallback, sans-serif;
	background: #fff;
	text-decoration: none;
	letter-spacing: 6px;
	font-size: 14.5px;
	color: #414141;
	text-align: center;
	}
nav ul li a:hover {
	color: #414141;
	text-decoration: none;
	}
/* =================================================================================
									NAVIGATION (END)
================================================================================= */
.banner {
	max-width: 100%;
	height: 100%;
	margin-bottom: 69px;
	}
.banner img {
	max-width: 100%;
	height: auto;
	width: auto;
	}
/* =================================================================================
									PROJECTS PAGE (START)
================================================================================= */
.projects_projects {
	float: left;
	margin: 0;
	padding: 0;
	text-align: left;
	position: relative;
	}
.floating-box-000 {
	overflow: hidden;
	float: left;
	width: 50%;
	margin: 0px;
	position: relative; 
	}
.floating-box-001 {
	overflow: hidden;
	float: left;
	width: 50%;
	margin: 0px;
	position: relative; 
	}
.floating-box-002 {
	overflow: hidden;
	float: left;
	width: 25%;
	margin: 0px;
	position: relative;
	}
.floating-box-003 {
	overflow: hidden;
	float: right;
	width: 25%;
	margin: 0px;
	position: relative;
	}
.floating-box-004 {
	overflow: hidden;
	float: right;
	width: 25%;
	margin: 0px;
	position: relative;
	}
/* =================================================================================
									PROJECTS PAGE (END)
================================================================================= */
section {
	width: 100%;
	}
section img{
	padding-left: 50%;
	height: auto;
	width: 25%;
	}
section a{
	text-decoration: none;
	padding: 6px 12px 3px 12px;
	background-color: #ccc5bf;
	color: #fff;
	}
section a:hover {
	text-decoration: none;
	background-color: #414141;
	color: #fff;
	}
/* =================================================================================
									FOOTER (START)
================================================================================= */
footer {
	width: 100%;
	height: 69px;
	background: #000;
	bottom: 0;
	position: fixed;
	}
footer ul {
	list-style-type: none;
    width: 96%;
	}
footer ul li {
	float: left;
	border: none;
	font-size: 14.5px;
	letter-spacing: 6px;
	color: #ccc5bf;
	text-decoration: none;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 29px;
	padding-left: 4%;
	}
/* =================================================================================
									FOOTER (END)
================================================================================= */

/*=======================================================================================================================================
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX                           XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   MEDIA QUERYES (START)   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX                           XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
=======================================================================================================================================*/

/*

x

*/

/*=======================================================================================================================================
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX      max width 1200 px    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
=======================================================================================================================================*/

@media screen and (max-width: 1200px) {
	body {
		font-family: 'verlag_bold', Fallback, sans-serif;
		max-width: 100%;
		background: #fff;
		text-decoration: none;
		overflow: scroll;
		}
/* =================================================================================
								TYPE SETTINGS (START)
================================================================================= */
	h1 {
		font-family: 'verlag_bold', Fallback, sans-serif;
		text-align: center;
		color: #ccc5bf;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 26px;
		padding-left: 0px;
		border-top: 1px solid #ccc5bf;
		}
	h2 {
		font-family: 'verlag_bold', Fallback, sans-serif;
		text-align: center;
		color: #ccc5bf;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 26px;
		padding-left: 0px;
		border-top: 0px solid #fff;
		}
	h3 {
		font-family: 'verlag_black', Fallback, sans-serif;
		position: absolute;
		top: 35%;
		left: 4.3%;
		width: 95.7%;
		text-align: left;
		font-size: 12px !important;
		letter-spacing: 3px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		}
	h4 {
		font-family: 'verlag_black', Fallback, sans-serif;
		position: absolute;
		top: 40%;
		left: 4%;
		width: 95.7%;
		text-align: left;
		font-size: 45px !important;
		letter-spacing: 9px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		}
	h5 {
		font-family: 'verlag_black', Fallback, sans-serif;
		position: absolute;
		top: 57%;
		left: 4.3%;
		width: 95.7%;
		text-align: left;
		font-size: 14px !important;
		letter-spacing: 3px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		}
	#contact  {
		font-family: 'verlag_bold', Fallback, sans-serif;
		font-size: 16px;
		letter-spacing: 1px;
		text-align: center;
		color: #ccc5bf;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 26px;
		padding-left: 0px;
		font-weight: lighter;
		}
/* =================================================================================
								TYPE SETTINGS (END)
================================================================================= */

/*=======================================================================================================================================
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX      max width 600 px     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
=======================================================================================================================================*/

@media screen and (max-width: 600px) {
	body {
		font-family: 'verlag_bold', Fallback, sans-serif;
		max-width: 100%;
		background: #fff;
		text-decoration: none;
		overflow: scroll;
		}
/* =================================================================================
								TYPE SETTINGS (START)
================================================================================= */
	h1 {
		font-family: 'verlag_bold', Fallback, sans-serif;
		text-align: center;
		color: #ccc5bf;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 26px;
		padding-left: 0px;
		border-top: 1px solid #ccc5bf;
		}
	h2 {
		font-family: 'verlag_bold', Fallback, sans-serif;
		text-align: center;
		color: #ccc5bf;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 26px;
		padding-left: 0px;
		border-top: 0px solid #fff;
		}
	h3 {
		display: none;
		font-family: 'verlag_black', Fallback, sans-serif;
		position: absolute;
		top: 35%;
		left: 4.3%;
		width: 95.7%;
		text-align: left;
		font-size: 16px !important;
		letter-spacing: 3.5px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		}
	h4 {
		font-family: 'verlag_black', Fallback, sans-serif;
		position: absolute;
		top: 40%;
		left: 4%;
		width: 95.7%;
		text-align: left;
		font-size: 30px !important;
		letter-spacing: 3px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		}
	h5 {
		display: none;
		font-family: 'verlag_black', Fallback, sans-serif;
		position: absolute;
		top: 57%;
		left: 4.3%;
		width: 95.7%;
		text-align: left;
		font-size: 18.5px !important;
		letter-spacing: 3.3px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		}
	h6 {
		font-family: 'verlag_black', Fallback, sans-serif;
		text-align: left;
		font-size: 15px !important;
		letter-spacing: 3px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		}
	#h4_2 {
		font-family: 'verlag_black', Fallback, sans-serif;
		position: absolute;
		top: 40%;
		left: 8%;
		width: 92%;
		text-align: left;
		font-size: 30px !important;
		letter-spacing: 12px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		}
	#h6_2 {
		font-family: 'verlag_black', Fallback, sans-serif;
		position: absolute;
		top: 42%;
		left: 8%;
		width: 92%;
		text-align: left;
		font-size: 15px !important;
		letter-spacing: 3px;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		}
	#contact  {
		font-family: 'verlag_bold', Fallback, sans-serif;
		font-size: 16px;
		letter-spacing: 1px;
		text-align: center;
		color: #ccc5bf;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 26px;
		padding-left: 0px;
		font-weight: lighter;
		}
/* =================================================================================
								TYPE SETTINGS (END)
================================================================================= */
/* =================================================================================
									NAVIGATION (START)
================================================================================= */
	nav {
		width: 100%;
		}
	nav ul {
		width: 100%;
		list-style-type: none;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		text-align: center; 
		}
	nav ul li {
		display: block;
		width: 100%;
		float: left;
		clear: right;
		padding-top: 15px;
		padding-right: 0px;
  		padding-bottom: 14px;
  		padding-left: 0px;
		border-bottom: 1px solid #ccc5bf;
		text-align: center;
		}
	nav ul li.mr_X {
		display: block;
		float: right;
		padding-top: 5px !important;
		padding-right: 0px;
		padding-bottom: 5px !important;
		padding-left: 0px;
		}
	li:last-child {
		border-bottom: none;
		}
	nav ul li a {
		font-family: 'verlag_bold', Fallback, sans-serif;
		display: block;
		color: #ccc5bf;
		font-size: 14.5px;
		letter-spacing: 6px;
		text-decoration: none;
		text-align: center;
		background: #fff;
		margin: 0px;
		}
	nav ul li.active a {
		font-family: 'verlag_bold', Fallback, sans-serif;
		color: #414141;
		font-size: 14.5px;
		letter-spacing: 6px;
		text-decoration: none;
		text-align: center;
		background: #fff;		
		}
/* =================================================================================
									NAVIGATION (END)
================================================================================= */
	.banner {
		max-width: 100%;
		height: 100%;
		margin-bottom: 62px
		}
/* =================================================================================
									PROJECTS PAGE (START)
================================================================================= */
	.projects_projects {
		float: left;
		margin: 0;
		padding: 0;
		text-align: left;
		position: relative;
		}
	.floating-box-001 {
		overflow: hidden;
		float: left;
		width: 100%;
		margin: 0;
		position: relative;
		}
	.floating-box-002 {
		overflow: hidden;
		float: left;
		width: 50%;
		margin: 0;
		position: relative;
		}
	.floating-box-003 {
		overflow: hidden;
		float: left;
		width: 50%;
		margin: 0;
		position: relative;
		}
	.floating-box-004 {
		overflow: hidden;
		float: right;
		width: 50%;
		margin: 0px;
		position: relative;
		margin-bottom: 62px !important;
		}
/* =================================================================================
									PROJECTS PAGE (END)
================================================================================= */
	section {
		width: 100%;
		text-align: center;
		}
	section img {
		width: 80%;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		}
	section h2 {
		font-family: 'verlag_bold', Fallback, sans-serif;
		text-align: center;
		color: #ccc5bf;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 26px;
		padding-left: 0px;
		border-top: 0px solid #fff;
		}
	section #about {
		width: 60%;
		font-size: 16px;
		letter-spacing: 1px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0px;
		padding-right: 10%;
		padding-bottom: 0px;
		padding-left: 10%;
		text-align: left;		
		font-weight: lighter;
		}
/* =================================================================================
									FOOTER (START)
================================================================================= */
	footer {
		width: 100%;
		height: 62;
		background: #000;
		position: fixed;
		bottom: 0;
		}
	footer ul {
  		list-style: none;
 		width: 100%;
		text-align: center;
		}
	footer ul li {
		padding-left: 4.5%;
		float: left;
		clear: right;
		padding-top: 26px;
  	 	padding-bottom: 22px;
		border: none;
		font-size: 12px;
		letter-spacing: 5px;
		color: #ccc5bf;
		text-decoration: none;
		text-align: center;
		}
/* =================================================================================
									FOOTER (END)
================================================================================= */
}